.normal-bg {
    background-color: #A8A878;
}
.fire-bg {
    background-color: #F08030;
}
.water-bg {
    background-color: #6890F0;
    
}
.grass-bg {
    background-color: #78C850;
    
}
.electric-bg {
    background-color: #F8D030;
    
}
.ice-bg {
    background-color: #98D8D8;
    
}
.ground-bg {
    background-color: #E0C068;
    
}
.flying-bg {
    background-color: #A890F0;
    
}
.poison-bg {
    background-color: #A040A0;
    
}
.fighting-bg {
    background-color: #C03028;
    
}
.psychic-bg {
    background-color: #F85888;
    
}
.dark-bg {
    background-color: #705848;
    
}
.rock-bg {
    background-color: #B8A038;
    
}
.bug-bg {
    background-color: #A8B820;
    
}
.ghost-bg {
    background-color: #705898;
    
}
.steel-bg {
    background-color: #B8B8D0;
    
}
.dragon-bg {
    background-color: #7038F8;
    
}
.fairy-bg {
    background-color: #FFAEC9;
 
}